.maxTitle > h1, .maxTitle>p {
    text-shadow: 3px 3px 3px #1b1e21;
}

.maxTitle{
    background-size: cover;
    background-position: center center;
}

@media screen and (max-width: 540px) {
    .heightAd {
        height:205px !important;
    }
}

footer.blue.font-small.page-footer.pt-4.py-5 {
    background-color: #4582EC !important;
    color: white;
}

footer a {
    color: white;
}