{% extends "base.html.twig" %}

{% block title %} - Creation d'une annonce{% endblock %}
{% form_theme form 'ad/_collection.html.twig' %}
{% block body %}
<div class="container mt-4">
    <h1>Créer une nouvelle annonce</h1>
    {{ form_start(form) }}

    {{ form_end(form) }}

</div>
{% endblock %}


{% block javascripts %}
    <script src="/js/app.js">


    </script>
{% endblock %}